@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #222831;
  font-family: "Ubuntu", sans-serif;
}

h1 {
  font-family: "Oswald", sans-serif;
}

h2 {
  font-family: "Oswald", sans-serif;
}

h3 {
  font-family: "Oswald", sans-serif;
}

h4 {
  font-family: "Oswald", sans-serif;
}

h5 {
  font-family: "Barlow", sans-serif;
  font-weight: bold;
}

h6 {
  font-family: "Montserrat", sans-serif;
}

.custom-font {
  font-family: "Inter", sans-serif;
}

.debug-red {
  border: 2px solid red;
}

.debug-green {
  border: 2px solid greenyellow;
}

.debug-blue {
  border: 2px solid blue;
}

input {
  font-family: "Inter", sans-serif;
}
